@using WebASPAppNFT.Entities


<ul class="nav">
    @foreach (var oneNavigate in Model as List<Navigate>)
    {
        
        <li><a class="@(Context.Request.Path == $"{oneNavigate.Href}"? "active":"")" asp-controller="@oneNavigate.Name" asp-action="Index">@oneNavigate.Title</a></li>
    }
</ul>
<a class='menu-trigger'>
    <span>Menu</span>
</a>
